@charset "UTF-8";
/*
  CSS stylesheet for the LaTeX lwarp package
  Copyright 2016-2019 Brian Dunn — BD Tech Concepts LLC

  Modified to only apply to oj-problem-viewer class and children
  for ojudge
*/
.oj-problem-viewer {
  /*font-family: "DejaVu Serif", "Bitstream Vera Serif", "Lucida Bright", Georgia, serif;*/
  color: black;
  margin: 0em;
  padding: 0em;
  font-size: 100%;
  line-height: 1.2;
  text-align: justify;
}

  .oj-problem-viewer header, .oj-problem-viewer section, .oj-problem-viewer footer, .oj-problem-viewer aside, .oj-problem-viewer nav, .oj-problem-viewer main,
  .oj-problem-viewer article, .oj-problem-viewer figure {
    display: block; }
  .oj-problem-viewer h4 {
	display:none;
  }
  .oj-problem-viewer A:link {
    color: #000080;
    text-decoration: none; }
  .oj-problem-viewer A:visited {
    color: #800000; }
  .oj-problem-viewer A:hover {
    color: #000080;
    text-decoration: underline; }
  .oj-problem-viewer A:active {
    color: #800000; }
  .oj-problem-viewer a.tocbook {
    display: inline-block;
    margin-left: 0em;
    font-weight: bold;
    margin-top: 1ex;
    margin-bottom: 1ex; }
  .oj-problem-viewer a.tocpart {
    display: inline-block;
    margin-left: 0em;
    font-weight: bold; }
  .oj-problem-viewer a.tocchapter {
    display: inline-block;
    margin-left: 0em;
    font-weight: bold; }
  .oj-problem-viewer a.tocsection {
    display: inline-block;
    margin-left: 1em;
    text-indent: -.5em;
    font-weight: bold; }
  .oj-problem-viewer a.tocsubsection {
    display: inline-block;
    margin-left: 2em;
    text-indent: -.5em; }
  .oj-problem-viewer a.tocsubsubsection {
    display: inline-block;
    margin-left: 3em;
    text-indent: -.5em; }
  .oj-problem-viewer a.tocparagraph {
    display: inline-block;
    margin-left: 4em;
    text-indent: -.5em; }
  .oj-problem-viewer a.tocsubparagraph {
    display: inline-block;
    margin-left: 5em;
    text-indent: -.5em; }
  .oj-problem-viewer a.tocfigure {
    margin-left: 0em; }
  .oj-problem-viewer a.tocsubfigure {
    margin-left: 2em; }
  .oj-problem-viewer a.toctable {
    margin-left: 0em; }
  .oj-problem-viewer a.tocsubtable {
    margin-left: 2em; }
  .oj-problem-viewer a.toctheorem {
    margin-left: 0em; }
  .oj-problem-viewer a.toclstlisting {
    margin-left: 0em; }
  .oj-problem-viewer p {
    margin: 1.5ex 0em 1.5ex 0em; }
  .oj-problem-viewer table p {
    margin: .5ex 0em .5ex 0em; }
  .oj-problem-viewer span.sectionnumber {
    margin-right: 0em; }
  .oj-problem-viewer span.indexitem {
    margin-left: 0em; }
  .oj-problem-viewer span.indexsubitem {
    margin-left: 2em; }
  .oj-problem-viewer span.indexsubsubitem {
    margin-left: 4em; }
  .oj-problem-viewer div.hidden, .oj-problem-viewer span.hidden {
    display: none; }
  .oj-problem-viewer kbd, .oj-problem-viewer span.texttt {
    font-family: "DejaVu Mono", "Bitstream Vera Mono", "Lucida Console", "Nimbus Mono L", "Liberation Mono", "FreeMono", "Andale Mono", "Courier New", monospace;
    font-size: 100%; }
  .oj-problem-viewer pre {
    padding: 3pt; }
  .oj-problem-viewer span.strong, .oj-problem-viewer span.textbf, .oj-problem-viewer div.strong, .oj-problem-viewer div.textbf {
    font-weight: bold; }
  .oj-problem-viewer span.textit, .oj-problem-viewer div.textit {
    font-style: italic; }
  .oj-problem-viewer span.textmd, .oj-problem-viewer div.textmd {
    font-weight: normal; }
  .oj-problem-viewer span.texteb {
    font-weight: bolder; }
  .oj-problem-viewer span.textlg {
    font-weight: lighter; }
  .oj-problem-viewer span.textup, .oj-problem-viewer div.textup {
    font-style: normal;
    font-variant: normal;
    font-variant-numeric: normal; }
  .oj-problem-viewer span.textsc, .oj-problem-viewer div.textsc {
    font-variant: small-caps;
    font-variant-numeric: oldstyle-nums; }
  .oj-problem-viewer span.textulc, .oj-problem-viewer div.textulc {
    font-variant: normal;
    font-variant-numeric: normal; }
  .oj-problem-viewer span.textsl, .oj-problem-viewer div.textsl {
    font-style: oblique; }
  .oj-problem-viewer span.textrm, .oj-problem-viewer div.textrm {
    font-family: "DejaVu Serif", "Bitstream Vera Serif", "Lucida Bright", Georgia, serif; }
  .oj-problem-viewer span.textsf, .oj-problem-viewer div.textsf {
    font-family: "DejaVu Sans", "Bitstream Vera Sans", Geneva, Verdana, sans-serif; }
  .oj-problem-viewer span.textcircled {
    border: 1px solid black;
    border-radius: 1ex; }
  .oj-problem-viewer span.underline {
    text-decoration: underline;
    text-decoration-skip: auto; }
  .oj-problem-viewer span.overline {
    text-decoration: overline;
    text-decoration-skip: auto; }
  .oj-problem-viewer div.verticalrl {
    writing-mode: vertical-rl; }
  .oj-problem-viewer div.horizontaltb {
    writing-mode: horizontal-tb; }
  .oj-problem-viewer div.diagboxtitleN {
    border-bottom: 1px solid gray; }
  .oj-problem-viewer div.diagboxtitleS {
    border-top: 1px solid gray; }
  .oj-problem-viewer div.diagboxE {
    padding-left: 2em;
    text-align: right; }
  .oj-problem-viewer div.diagboxW {
    padding-right: 2em;
    text-align: left; }
  .oj-problem-viewer .supsubscript {
    display: inline-block;
    text-align: left; }
  .oj-problem-viewer .supsubscript sup,
  .oj-problem-viewer .supsubscript sub {
    position: relative;
    display: block;
    font-size: .5em;
    line-height: 1; }
  .oj-problem-viewer .supsubscript sup {
    top: .5em; }
  .oj-problem-viewer .supsubscript sub {
    top: .5em; }
  .oj-problem-viewer div.attribution p {
    text-align: right;
    font-size: 80%; }
  .oj-problem-viewer span.poemtitle {
    font-size: 120%;
    font-weight: bold; }
  .oj-problem-viewer pre.tabbing {
    font-family: "Linux Libertine Mono O", "Lucida Console", "Droid Sans Mono", "DejaVu Mono", "Bitstream Vera Mono", "Liberation Mono", "FreeMono", "Andale Mono", "Nimbus Mono L", "Courier New", monospace; }
  .oj-problem-viewer blockquote {
    display: block;
    margin-left: 2em;
    margin-right: 2em; }
  .oj-problem-viewer div.quotchap {
    display: block;
    font-style: oblique;
    overflow-x: auto;
    margin-left: 2em;
    margin-right: 2em; }
  .oj-problem-viewer blockquote p, .oj-problem-viewer div.quotchap p {
    line-height: 1.5;
    text-align: left;
    font-size: .85em; }
  .oj-problem-viewer div.qauthor {
    display: block;
    text-align: right;
    margin-left: auto;
    margin-right: 2em;
    font-size: 80%;
    font-variant: small-caps; }
  .oj-problem-viewer div.qauthor p {
    text-align: right; }
  .oj-problem-viewer div.epigraph, .oj-problem-viewer div.dictum {
    line-height: 1.2;
    text-align: left;
    padding: 3ex 1em 0ex 1em;
    margin: 3ex 1em 3ex auto;
    font-size: .85em;
    max-width: 27em; }
  .oj-problem-viewer div.epigraphsource, .oj-problem-viewer div.dictumauthor {
    text-align: right;
    margin-left: auto;
    border-top: 1px solid #A0A0A0;
    padding-bottom: 3ex;
    line-height: 1.2; }
  .oj-problem-viewer div.epigraph p, .oj-problem-viewer div.dictum p {
    padding: .5ex;
    margin: 0ex; }
  .oj-problem-viewer div.epigraphsource p, .oj-problem-viewer div.dictumauthor p {
    padding: .5ex 0ex 0ex 0ex;
    margin: 0ex; }
  .oj-problem-viewer div.dictumauthor {
    font-style: italic; }
  .oj-problem-viewer div.copyrightbox {
    margin: .5ex .5em; }
  .oj-problem-viewer div.copyrightbox p {
    margin: 0px .5em;
    padding: 0px; }
  .oj-problem-viewer div.copyrightboxnote {
    text-align: left;
    font-size: 60%; }
  .oj-problem-viewer span.lettrine {
    font-size: 4ex;
    float: left; }
  .oj-problem-viewer span.lettrinetext {
    font-variant: small-caps; }
  .oj-problem-viewer span.uline {
    text-decoration: underline;
    text-decoration-skip: auto; }
  .oj-problem-viewer span.uuline {
    text-decoration: underline;
    text-decoration-skip: auto;
    text-decoration-style: double; }
  .oj-problem-viewer span.uwave {
    text-decoration: underline;
    text-decoration-skip: auto;
    text-decoration-style: wavy; }
  .oj-problem-viewer span.sout {
    text-decoration: line-through; }
  .oj-problem-viewer span.oline {
    text-decoration: overline;
    text-decoration-skip: auto; }
  .oj-problem-viewer span.xout {
    text-decoration: line-through; }
  .oj-problem-viewer span.dashuline {
    text-decoration: underline;
    text-decoration-skip: auto;
    text-decoration-style: dashed; }
  .oj-problem-viewer span.dotuline {
    text-decoration: underline;
    text-decoration-skip: auto;
    text-decoration-style: dotted; }
  .oj-problem-viewer span.letterspacing {
    letter-spacing: .2ex; }
  .oj-problem-viewer span.capsspacing {
    font-variant: small-caps;
    letter-spacing: .1ex; }
  .oj-problem-viewer span.highlight {
    background: #F8E800; }
  .oj-problem-viewer html body {
    margin: 0;
    line-height: 1.2; }
  .oj-problem-viewer body div {
    margin: 0ex; }
  .oj-problem-viewer div.book, .oj-problem-viewer h1, .oj-problem-viewer h2, .oj-problem-viewer h3, .oj-problem-viewer h5, .oj-problem-viewer h6, .oj-problem-viewer span.paragraph, .oj-problem-viewer span.subparagraph {
/*    font-family: "Linux Libertine O", "Hoefler Text", "Garamond", "Bembo", "Janson", "TeX Gyre Pagella", "Palatino", "Liberation Serif", "Nimbus Roman No 9 L",  "FreeSerif", Times, "Times New Roman", serif;*/
    font-style: normal;
    font-weight: bold;
    text-align: left; }
  .oj-problem-viewer h1 {
    text-align: center;
    font-size: 2.5em;
    padding: .4ex 0em 0ex 0em; }
  .oj-problem-viewer div.book {
    text-align: center;
    font-size: 2.325em;
    padding: .4ex 0em 0ex 0em; }
  .oj-problem-viewer h2 {
    font-size: 2.25em; }
  .oj-problem-viewer h3 {
    font-size: 2em; }
  .oj-problem-viewer h5 {
    font-size: 1.5em; }
  .oj-problem-viewer h6 {
    font-size: 1.25em; }
  .oj-problem-viewer span.paragraph {
    font-size: 1em;
    font-variant: normal;
    margin-right: 1em; }
  .oj-problem-viewer span.subparagraph {
    font-size: 1em;
    font-variant: normal;
    margin-right: 1em; }
  .oj-problem-viewer div.minisec {
    font-family: "DejaVu Sans", "Bitstream Vera Sans", Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: left; }
  .oj-problem-viewer h1 {
    margin: 0ex 0em 0ex 0em;
    line-height: 1.3;
    text-align: center; }
  .oj-problem-viewer h2 {
    margin: 1ex 0em 1ex 0em;
    line-height: 1.3;
    text-align: center; }
  .oj-problem-viewer h3 {
    margin: 3ex 0em 1ex 0em;
    line-height: 1.3; }
  .oj-problem-viewer h5 {
    margin: 3ex 0em 1ex 0em;
    line-height: 1.3; }
  .oj-problem-viewer h6 {
    margin: 3ex 0em 1ex 0em;
    line-height: 1.3; }
  .oj-problem-viewer div.titlepage {
    text-align: center; }
  .oj-problem-viewer .footnotes {
    text-align: left;
    font-size: .85em;
    margin: 3ex 2em 0ex 2em;
    border-top: 1px solid silver; }
  .oj-problem-viewer .marginpar, .oj-problem-viewer .marginparblock {
    max-width: 50%;
    float: right;
    clear: both;
    text-align: left;
    margin: 1ex 0.5em 1ex 1em;
    padding: 1ex 0.5em 1ex 0.5em;
    font-size: 85%;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    overflow-x: auto; }
  .oj-problem-viewer .marginpar br {
    margin-bottom: 2ex; }
  .oj-problem-viewer div.marginblock, .oj-problem-viewer div.marginparblock {
    max-width: 50%;
    min-width: 10em;
    float: right;
    text-align: left;
    margin: 1ex 0.5em 1ex 1em;
    padding: 1ex 0.5em 1ex 0.5em;
    overflow-x: auto; }
  .oj-problem-viewer div.marginblock div.minipage,
  .oj-problem-viewer div.marginparblock div.minipage {
    display: inline-block;
    margin: 0pt auto 0pt auto; }
  .oj-problem-viewer div.marginblock div.minipage p,
  .oj-problem-viewer div.marginparblock div.minipage p {
    font-size: 85%; }
  .oj-problem-viewer div.marginblock br,
  .oj-problem-viewer div.marginparblock br {
    margin-bottom: 2ex; }
  .oj-problem-viewer div.bodycontainer {
    float: left;
    width: 80%; }
  .oj-problem-viewer div.bodywithoutsidetoc div.bodycontainer {
    float: none;
    width: 100%; }
  .oj-problem-viewer section.textbody div.footnotes {
    margin: 3ex 2em 0ex 2em;
    border-bottom: 2px solid silver; }
  .oj-problem-viewer .footnoteheader {
    border-top: 2px solid silver;
    margin-top: 3ex;
    padding-top: 1ex;
    font-weight: bold; }
  .oj-problem-viewer .mpfootnotes {
    text-align: left;
    font-size: .85em;
    margin-left: 1em;
    border-top: 1px solid silver; }
  .oj-problem-viewer div.titlepage div.mpfootnotes {
    border-top: none; }
  .oj-problem-viewer ul, .oj-problem-viewer ol {
    margin: 1ex 1em 1ex 0em;
    line-height: 1.2; }
  .oj-problem-viewer body dir, .oj-problem-viewer body menu {
    margin: 3ex 1em 3ex 0em;
    line-height: 1.2; }
  .oj-problem-viewer li {
    margin: 0ex 0em 1ex 0em; }
  .oj-problem-viewer html {
    margin: 0;
    padding: 0; }
  .oj-problem-viewer .programlisting {
    font-family: "DejaVu Mono", "Bitstream Vera Mono", "Lucida Console", "Nimbus Mono L", "Liberation Mono", "FreeMono", "Andale Mono", "Courier New", monospace;
    margin: 1ex 0ex 1ex 0ex;
    padding: .5ex 0pt .5ex 0pt;
    overflow-x: auto; }
  .oj-problem-viewer section.textbody > pre.programlisting {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver; }
  .oj-problem-viewer div.displaymath {
    text-align: center; }
  .oj-problem-viewer div.displaymathnumbered {
    text-align: right;
    margin-left: 5%;
    margin-right: 5%;
    min-width: 2.5in; }
  @media all and (min-width: 400px) {
    .oj-problem-viewer div.displaymathnumbered {
      margin-left: 10%;
      margin-right: 10%; } }
  @media all and (min-width: 800px) {
    .oj-problem-viewer div.displaymathnumbered {
      margin-right: 20%; } }
  @media all and (min-width: 1200px) {
    .oj-problem-viewer div.displaymathnumbered {
      margin-right: 30%; } }
  .oj-problem-viewer .inlineprogramlisting {
    font-family: "DejaVu Mono", "Bitstream Vera Mono", "Lucida Console", "Nimbus Mono L", "Liberation Mono", "FreeMono", "Andale Mono", "Courier New", monospace;
    overflow-x: auto; }
  .oj-problem-viewer span.listinglabel {
    display: inline-block;
    font-size: 70%;
    width: 4em;
    text-align: right;
    margin-right: 2em; }
  .oj-problem-viewer div.abstract {
    margin: 2em 5% 2em 5%;
    padding: 1ex 1em 1ex 1em;
    font-size: 90%;
    text-align: left; }
  .oj-problem-viewer div.abstract dl {
    line-height: 1.5; }
  .oj-problem-viewer div.abstract dt {
    color: #304070; }
  .oj-problem-viewer div.abstracttitle {
    font-family: "URW Classico", Optima, "Linux Biolinum O", "Linux Libertine O", "Liberation Serif", "Nimbus Roman No 9 L", "FreeSerif", "Hoefler Text", Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 1.25em;
    text-align: center; }
  .oj-problem-viewer span.abstractrunintitle {
    font-family: "URW Classico", Optima, "Linux Biolinum O", "Linux Libertine O", "Liberation Serif", "Nimbus Roman No 9 L", "FreeSerif", "Hoefler Text", Times, "Times New Roman", serif;
    font-weight: bold; }
  .oj-problem-viewer .verbatim {
    overflow-x: auto; }
  .oj-problem-viewer .alltt {
    overflow-x: auto; }
  .oj-problem-viewer .bverbatim {
    margin: 1ex 0pt 1ex 0pt;
    padding: .5ex 0pt .5ex 0pt;
    overflow-x: auto; }
  .oj-problem-viewer .lverbatim {
    margin: 1ex 0pt 1ex 0pt;
    padding: .5ex 0pt .5ex 0pt;
    overflow-x: auto; }
  .oj-problem-viewer .fancyvrb {
    font-size: .85em;
    margin: 3ex 0pt 3ex 0pt; }
  .oj-problem-viewer .fancyvrblabel {
    font-size: .85em;
    text-align: center;
    font-weight: bold;
    margin-top: 1ex;
    margin-bottom: 1ex; }
  .oj-problem-viewer .verse {
    font-family: "Linux Libertine Mono O", "Lucida Console", "Droid Sans Mono", "DejaVu Mono", "Bitstream Vera Mono", "Liberation Mono", "FreeMono", "Andale Mono", "Nimbus Mono L", "Courier New", monospace;
    margin-left: 1em; }
  .oj-problem-viewer div.singlespace {
    line-height: 1.2; }
  .oj-problem-viewer div.onehalfspace {
    line-height: 1.5; }
  .oj-problem-viewer div.doublespace {
    line-height: 2; }
  .oj-problem-viewer div.wpfigure {
    border: 1px solid red;
    margin: .5ex;
    padding: .5ex; }
  .oj-problem-viewer div.wptable {
    border: 1px solid blue;
    margin: .5ex;
    padding: .5ex; }
  .oj-problem-viewer div.wpminipage {
    border: 1px solid green;
    margin: .5ex;
    padding: .5ex; }
  .oj-problem-viewer .minipage, .oj-problem-viewer .fminipage, .oj-problem-viewer .fcolorminipage {
    margin: .25em .25em .25em .25em;
    padding: .25em .25em .25em .25em;
    display: inline-flex;
    flex-direction: column;
    overflow: auto; }
  .oj-problem-viewer .inlineminipage {
    display: inline-block;
    text-align: left; }
  .oj-problem-viewer .minipage p {
    margin: .75ex 0em .75ex 0em; }
  .oj-problem-viewer .fboxBlock .minipage, .oj-problem-viewer .colorbox .minipage, .oj-problem-viewer .colorboxBlock .minipage,
  .oj-problem-viewer .fcolorbox .minipage, .oj-problem-viewer .fcolorboxBlock .minipage {
    border: none;
    background: none; }
  .oj-problem-viewer .fbox, .oj-problem-viewer .fboxBlock {
    border: 1px solid black; }
  .oj-problem-viewer .fbox, .oj-problem-viewer .fboxBlock, .oj-problem-viewer .fcolorbox, .oj-problem-viewer .fcolorboxBlock, .oj-problem-viewer .colorbox, .oj-problem-viewer .colorboxBlock,
  .oj-problem-viewer .fminipage, .oj-problem-viewer .fcolorminipage {
    display: inline-block; }
  .oj-problem-viewer .shadowbox, .oj-problem-viewer .shabox {
    border: 1px solid black;
    box-shadow: 3px 3px 3px #808080;
    border-radius: 0px;
    padding: .4ex .3em .4ex .3em;
    margin: 0pt .3ex 0pt .3ex;
    display: inline-block; }
  .oj-problem-viewer .doublebox {
    border: 3px double black;
    border-radius: 0px;
    padding: .4ex .3em .4ex .3em;
    margin: 0pt .3ex 0pt .3ex;
    display: inline-block; }
  .oj-problem-viewer .ovalbox, .oj-problem-viewer .Ovalbox {
    border: 1px solid black;
    border-radius: 1ex;
    padding: .4ex .3em .4ex .3em;
    margin: 0pt .3ex 0pt .3ex;
    display: inline-block; }
  .oj-problem-viewer .Ovalbox {
    border-width: 2px; }
  .oj-problem-viewer .framebox {
    border: 1px solid black;
    border-radius: 0px;
    padding: .3ex .2em 0ex .2em;
    margin: 0pt .1ex 0pt .1ex;
    display: inline-block; }
  .oj-problem-viewer .mdframed {
    padding: 0ex;
    margin: 2ex 0em 2ex 0em; }
  .oj-problem-viewer .mdframed p {
    padding: 0ex .5em 0ex .5em; }
  .oj-problem-viewer .mdframed dl {
    padding: 1ex .5em 0ex .5em; }
  .oj-problem-viewer .mdframedtitle {
    padding: .5ex 0pt 0pt 0pt;
    border-radius: 10pt 10pt 0pt 0pt;
    display: block;
    margin-bottom: 1ex; }
  .oj-problem-viewer .mdframedsubtitle {
    display: block; }
  .oj-problem-viewer .mdframedsubsubtitle {
    display: block; }
  .oj-problem-viewer .mdtheorem {
    padding: 0ex .5em 0ex .5em;
    margin: 3ex 5% 3ex 5%; }
  .oj-problem-viewer .framed, .oj-problem-viewer pre.boxedverbatim, .oj-problem-viewer fcolorbox {
    margin: 3ex 0em 3ex 0em;
    border: 1px solid black;
    border-radius: 0px;
    padding: .3ex 1em 0ex 1em;
    display: block; }
  .oj-problem-viewer .shaded {
    margin: 3ex 0em 3ex 0em;
    padding: .3ex 1em .3ex 1em;
    display: block; }
  .oj-problem-viewer .snugframed {
    margin: 3ex 0em 3ex 0em;
    border: 1px solid black;
    border-radius: 0px;
    display: block; }
  .oj-problem-viewer .framedleftbar {
    margin: 3ex 0em 3ex 0em;
    border-left: 3pt solid black;
    border-radius: 0px;
    padding: .3ex .2em .3ex 1em;
    display: block; }
  .oj-problem-viewer .framedtitle {
    margin: 0em;
    padding: 0em;
    font-size: 130%; }
  .oj-problem-viewer .framedtitle p {
    padding: .3em; }
  .oj-problem-viewer div.niceframe, .oj-problem-viewer div.curlyframe, .oj-problem-viewer div.artdecoframe, .oj-problem-viewer div.generalframe {
    padding: 1ex;
    margin: 2ex auto;
    border-radius: 2ex; }
  .oj-problem-viewer div.niceframe {
    border: 6px groove black; }
  .oj-problem-viewer div.curlyframe {
    border-left: 3px dotted black;
    border-right: 3px dotted black;
    border-radius: 6ex; }
  .oj-problem-viewer div.artdecoframe {
    border-left: 10px double black;
    border-right: 10px double black;
    border-radius: 6ex; }
  .oj-problem-viewer div.generalframe {
    border: 6px groove black; }
  .oj-problem-viewer dl {
    margin: 1ex 2em 1ex 0em;
    line-height: 1.3; }
  .oj-problem-viewer dl dt {
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 1em; }
  .oj-problem-viewer dl dd {
    display: block; }
  .oj-problem-viewer dl dd:after {
    content: "";
    display: block;
    clear: both; }
  .oj-problem-viewer dl dd p {
    margin-top: 0em; }
  .oj-problem-viewer dd ul, .oj-problem-viewer dd ol, .oj-problem-viewer dd dl {
    clear: both;
    padding-top: 1ex; }
  .oj-problem-viewer nav {
    font-family: "URW Classico", Optima, "Linux Biolinum O", "DejaVu Sans", "Bitstream Vera Sans", Geneva, Verdana, sans-serif;
    margin-bottom: 4ex; }
  .oj-problem-viewer nav p {
    line-height: 1.2;
    margin-top: .5ex;
    margin-bottom: .5ex;
    font-size: .9em; }
  .oj-problem-viewer img, .oj-problem-viewer img.hyperimage, .oj-problem-viewer img.borderimage {
    max-width: 600px;
    border: 1px solid silver;
    box-shadow: 3px 3px 3px #808080;
    padding: .5%;
    margin: .5%;
    background: none; }
  .oj-problem-viewer img.inlineimage {
    padding: 0px;
    box-shadow: none;
    border: none;
    background: none;
    margin: 0px;
    display: inline-block;
    border-radius: 0px; }
  .oj-problem-viewer img.logoimage {
    max-width: 300px;
    box-shadow: 3px 3px 3px #808080;
    border: 1px solid black;
    background: none;
    padding: 0;
    margin: .5ex;
    border-radius: 10px; }
  .oj-problem-viewer .section {
    margin: 0ex .5em 0ex .5em;
    padding: 0; }
  .oj-problem-viewer figure {
    margin: 5ex auto 5ex auto;
    padding: 1ex 1em 1ex 1em;
    overflow-x: auto; }
  .oj-problem-viewer figure figure {
    margin: 0pt; }
  .oj-problem-viewer figure div.minipage p {
    font-size: 85%; }
  .oj-problem-viewer figure.subfigure, .oj-problem-viewer figure.subtable {
    display: inline-block;
    margin: 3ex 1em 3ex 1em; }
  .oj-problem-viewer div.figurecaption .minipage {
    margin: 0;
    padding: 0; }
  .oj-problem-viewer div.minipage figure {
    border: none;
    box-shadow: none; }
  .oj-problem-viewer div.minipage figure.table {
    margin: 0ex; }
  .oj-problem-viewer div.minipage div.footnotes {
    margin: 1ex 2em 0ex 2em; }
  .oj-problem-viewer div.floatrow {
    text-align: center; }
  .oj-problem-viewer div.floatrow figure {
    display: inline-block;
    margin: 1ex 2%; }
  .oj-problem-viewer div.floatfoot {
    font-size: .85em;
    border-top: 1px solid silver;
    line-height: 1.2; }
  .oj-problem-viewer div.figurecaption, .oj-problem-viewer .lstlistingtitle {
    font-size: .85em;
    text-align: center;
    font-weight: bold;
    margin-top: 1ex;
    margin-bottom: 1ex; }
  .oj-problem-viewer figure.subfigure div.figurecaption, .oj-problem-viewer figure.subtable div.figurecaption {
    border-bottom: none;
    background: none; }
  .oj-problem-viewer div.nonfloatcaption {
    margin: 1ex auto 1ex auto;
    font-size: .85em;
    text-align: center;
    font-weight: bold; }
  .oj-problem-viewer figure div.floatrow div.minipage div.figurecaption {
    border: none;
    background: none; }
  .oj-problem-viewer figure.boxed, .oj-problem-viewer figure.boxruled {
    border: 1px solid black; }
  .oj-problem-viewer figure.ruled {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    background: none;
    box-shadow: none; }
  .oj-problem-viewer figure.ruled div.figurecaption, .oj-problem-viewer figure.boxruled div.figurecaption {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver; }
  .oj-problem-viewer table {
    margin: 1ex auto 1ex auto;
    border-collapse: separate;
    border-spacing: 0px;
    line-height: 1.3; }
  .oj-problem-viewer tr.hline td {
    border-top: 1px solid #808080;
    margin-top: 0ex;
    margin-bottom: 0ex; }
  .oj-problem-viewer tr.tbrule td {
    border-top: 1px solid black;
    margin-top: 0ex;
    margin-bottom: 0ex; }
  .oj-problem-viewer td {
    padding: .5ex .5em .5ex .5em; }
  .oj-problem-viewer table td.tdl {
    text-align: left;
    vertical-align: middle; }
  .oj-problem-viewer table td.tdc {
    text-align: center;
    vertical-align: middle; }
  .oj-problem-viewer table td.tdat {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    margin: 0px; }
  .oj-problem-viewer table td.tdbang {
    text-align: center;
    vertical-align: middle; }
  .oj-problem-viewer table td.tdr {
    text-align: right;
    vertical-align: middle; }
  .oj-problem-viewer table td.tdp {
    text-align: left;
    vertical-align: bottom; }
  .oj-problem-viewer table td.tdm {
    text-align: left;
    vertical-align: middle; }
  .oj-problem-viewer table td.tdb {
    text-align: left;
    vertical-align: top; }
  .oj-problem-viewer table td.tdP {
    text-align: center;
    vertical-align: bottom; }
  .oj-problem-viewer table td.tdM {
    text-align: center;
    vertical-align: middle; }
  .oj-problem-viewer table td.tdB {
    text-align: center;
    vertical-align: top; }
  .oj-problem-viewer table td.tvertbarl {
    border-left: 1px solid black; }
  .oj-problem-viewer table td.tvertbarldouble {
    border-left: 4px double black; }
  .oj-problem-viewer table td.tvertbarr {
    border-right: 1px solid black; }
  .oj-problem-viewer table td.tvertbarrdouble {
    border-right: 4px double black; }
  .oj-problem-viewer table td.tvertbarldash {
    border-left: 1px dashed black; }
  .oj-problem-viewer table td.tvertbarldoubledash {
    border-left: 2px dashed black; }
  .oj-problem-viewer table td.tvertbarrdash {
    border-right: 1px dashed black; }
  .oj-problem-viewer table td.tvertbarrdoubledash {
    border-right: 2px dashed black; }
  .oj-problem-viewer table td.tdrule {
    border-top: 1px solid #A0A0A0; }
  .oj-problem-viewer table td.tdrulel {
    border-top-left-radius: .5em;
    border-top: 1px solid #A0A0A0; }
  .oj-problem-viewer table td.tdruler {
    border-top-right-radius: .5em;
    border-top: 1px solid #A0A0A0; }
  .oj-problem-viewer table td.tdrulelr {
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    border-top: 1px solid #A0A0A0; }
  .oj-problem-viewer td.tdp p, .oj-problem-viewer td.tdprule p, .oj-problem-viewer td.tdP p, .oj-problem-viewer td.tdPrule p {
    padding-top: 1ex;
    padding-bottom: 1ex;
    margin: 0ex; }
  .oj-problem-viewer td.tdm p, .oj-problem-viewer td.tmbrule p, .oj-problem-viewer td.tdM p, .oj-problem-viewer td.tdMrule p {
    padding-top: 1ex;
    padding-bottom: 1ex;
    margin: 0ex; }
  .oj-problem-viewer td.tdb p, .oj-problem-viewer td.tdbrule p, .oj-problem-viewer td.tdB p, .oj-problem-viewer td.tdBrule p {
    padding-top: 1ex;
    padding-bottom: 1ex;
    margin: 0ex; }
  .oj-problem-viewer td.tdp, .oj-problem-viewer td.tdprule, .oj-problem-viewer td.tdP, .oj-problem-viewer td.tdPrule {
    padding: 0ex .5em 0ex .5em; }
  .oj-problem-viewer td.tdm, .oj-problem-viewer td.tdmrule, .oj-problem-viewer td.tdM, .oj-problem-viewer td.tdMrule {
    padding: 0ex .5em 0ex .5em; }
  .oj-problem-viewer td.tdb, .oj-problem-viewer td.tdbrule, .oj-problem-viewer td.tdB, .oj-problem-viewer td.tdBrule {
    padding: 0ex .5em 0ex .5em; }
  .oj-problem-viewer .tnotes {
    margin: 0ex 5% 1ex 5%;
    padding: 0.5ex 1em 0.5ex 1em;
    font-size: .80em;
    text-align: left; }
  .oj-problem-viewer .minipage .tnotes {
    margin: 0pt;
    padding: 0pt; }
  .oj-problem-viewer .tnotes dl dt p {
    margin-bottom: 0px; }
  .oj-problem-viewer .tnoteitemheader {
    margin-right: 1em; }
  .oj-problem-viewer div.cellcolor {
    width: 100%;
    padding: .5ex .5em .5ex .5em;
    margin: -.5ex -.5em -.5ex -.5em; }
  .oj-problem-viewer span.lyluatex {
    display: inline-block; }
  .oj-problem-viewer div.lyluatex p span.lateximagesource img {
    display: block;
    margin-top: 3ex;
    margin-bottom: 3ex; }
  .oj-problem-viewer .ldelim, .oj-problem-viewer .rdelim {
    font-size: 200%; }
  .oj-problem-viewer div.center {
    text-align: center; }
  .oj-problem-viewer div.center table {
    margin-left: auto;
    margin-right: auto; }
  .oj-problem-viewer div.flushleft {
    text-align: left; }
  .oj-problem-viewer div.flushleft table {
    margin-left: 0em;
    margin-right: auto; }
  .oj-problem-viewer div.flushright {
    text-align: right; }
  .oj-problem-viewer div.flushright table {
    margin-left: auto;
    margin-right: 0em; }
  .oj-problem-viewer div.Btrivlist table tr td {
    padding: .2ex 0em; }
  .oj-problem-viewer span.callout {
    font-family: "DejaVu Sans", "Bitstream Vera Sans", Geneva, Verdana, sans-serif;
    border-radius: .5em;
    background-color: black;
    color: white;
    padding: 0px .25em 0px .25em;
    margin: 0;
    font-weight: bold;
    font-size: .72em; }
  .oj-problem-viewer div.programlisting pre.verbatim span.callout {
    font-size: .85em; }
  .oj-problem-viewer span.verbatim {
    font-family: "DejaVu Mono", "Bitstream Vera Mono", "Lucida Console", "Nimbus Mono L", "Liberation Mono", "FreeMono", "Andale Mono", "Courier New", monospace; }
  .oj-problem-viewer div.published {
    text-align: center;
    font-variant: normal;
    font-style: italic;
    font-size: 1em;
    margin: 1ex 0em 1ex 0em; }
  .oj-problem-viewer div.subtitle {
    text-align: center;
    font-variant: normal;
    font-style: italic;
    font-size: 1.25em;
    margin: 1ex 0em 1ex 0em; }
  .oj-problem-viewer div.subtitle p {
    margin: 1ex; }
  .oj-problem-viewer div.author {
    font-variant: normal;
    font-style: normal;
    font-size: 1em;
    margin: 1ex 0em 1ex 0em; }
  .oj-problem-viewer div.oneauthor {
    display: inline-block;
    margin: 0ex 1em 0ex 1em; }
  .oj-problem-viewer span.affiliation {
    font-size: .85em;
    font-variant: small-caps; }
  .oj-problem-viewer div.titledate {
    text-align: center;
    font-size: .85em;
    font-style: italic;
    margin: 1ex 0em 1ex 0em; }
  .oj-problem-viewer nav.topnavigation {
    text-align: left;
    padding: 0.5ex 1em 0.5ex 1em;
    margin: 0;
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    clear: both; }
  .oj-problem-viewer nav.botnavigation {
    text-align: left;
    padding: 0.5ex 1em 0.5ex 1em;
    margin: 0;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    clear: both; }
  .oj-problem-viewer header {
    line-height: 1.2;
    font-size: 1em;
    border-bottom: 1px solid silver;
    margin: 0px;
    padding: 2ex 1em 2ex 1em;
    text-align: left; }
  .oj-problem-viewer footer {
    font-size: .85em;
    line-height: 1.2;
    margin-top: 1ex;
    border-top: 1px solid silver;
    padding: 2ex 1em 2ex 1em;
    clear: both;
    text-align: left; }
  .oj-problem-viewer a.linkhome {
    font-weight: bold;
    font-size: 1em; }
  .oj-problem-viewer div.lateximagesource {
    padding: 0px;
    margin: 0px;
    display: none; }
  .oj-problem-viewer img.lateximage {
    padding: 0pt;
    margin: 0pt;
    box-shadow: none;
    border: none;
    background: none;
    max-width: 100%;
    border-radius: 0ex;
    border: none; }
  .oj-problem-viewer div.sidetoccontainer {
    font-family: "DejaVu Serif", "Bitstream Vera Serif", "Lucida Bright", Georgia, serif;
    float: left;
    width: 20%;
    margin: 0pt -1px 3ex 0pt;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    background: #FAF7F4;
    font-size: .9em;
    border-radius: 0px 0px 20px 0px; }
  .oj-problem-viewer div.sidetoccontents {
    overflow-y: auto;
    width: 100%;
    text-align: left; }
  .oj-problem-viewer nav.sidetoc p {
    line-height: 1.2;
    margin: 1ex .5em 1ex .5em;
    text-indent: 0; }
  .oj-problem-viewer nav.sidetoc p a {
    color: black;
    font-size: .7em; }
  .oj-problem-viewer div.sidetoctitle {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid silver; }
  .oj-problem-viewer nav.sidetoc a:hover {
    text-decoration: underline; }
  .oj-problem-viewer section.textbody {
    margin: 0ex 1em 0ex 1em; }
  .oj-problem-viewer div.multicolsheading {
    -webkit-column-span: all;
    -moz-column-span: all;
    column-span: all; }
  .oj-problem-viewer div.multicols {
    -webkit-columns: 3 380px;
    -moz-columns: 3 380px;
    columns: 3 380px; }
  .oj-problem-viewer div.multicols p {
    margin-top: 0ex; }
  .oj-problem-viewer span.numerator {
    font-size: 60%;
    vertical-align: .4em; }
  .oj-problem-viewer span.denominator {
    font-size: 60%; }
  .oj-problem-viewer div.alg2evline {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid black;
    border-radius: 0px 0px 0px 1ex; }
  .oj-problem-viewer div.alg2evsline {
    margin-left: 1em;
    padding-left: 1em;
    border-left: 1px solid black; }
  .oj-problem-viewer div.alg2enoline {
    margin-left: 1em;
    padding-left: 1em; }
  .oj-problem-viewer span.alg2elinenumber {
    margin-right: .5em;
    font-size: 50%;
    color: red; }
  .oj-problem-viewer span.floatright {
    float: right; }
  .oj-problem-viewer .floatnotes {
    margin: 0ex 5% 0ex 5%;
    padding: 0ex 1em 0ex 1em;
    font-size: .80em;
    text-align: left; }
  .oj-problem-viewer .authorartist {
    display: block;
    font-size: .70em;
    font-style: italic; }
  .oj-problem-viewer nav .authorartist {
    display: inline; }
  .oj-problem-viewer .theoremcontents {
    font-style: italic;
    margin-top: 3ex;
    margin-bottom: 3ex; }
  .oj-problem-viewer .theoremlabel {
    font-style: normal;
    font-weight: bold;
    margin-right: .5em; }
  .oj-problem-viewer span.theoremheader,
  .oj-problem-viewer span.theoremheaderplain,
  .oj-problem-viewer span.theoremheaderdefinition,
  .oj-problem-viewer span.theoremheaderbreak,
  .oj-problem-viewer span.theoremheadermarginbreak,
  .oj-problem-viewer span.theoremheaderchangebreak,
  .oj-problem-viewer span.theoremheaderchange,
  .oj-problem-viewer span.theoremheadermargin {
    font-style: normal;
    font-weight: bold;
    margin-right: 1em; }
  .oj-problem-viewer span.amsthmnameplain,
  .oj-problem-viewer span.amsthmnamedefinition,
  .oj-problem-viewer span.amsthmnumberplain,
  .oj-problem-viewer span.amsthmnumberdefinition {
    font-style: normal;
    font-weight: bold; }
  .oj-problem-viewer span.amsthmnameremark,
  .oj-problem-viewer span.amsthmnumberremark {
    font-style: italic;
    font-weight: normal; }
  .oj-problem-viewer span.amsthmnoteplain,
  .oj-problem-viewer span.amsthmnotedefinition {
    font-style: normal; }
  .oj-problem-viewer span.theoremheaderremark,
  .oj-problem-viewer span.theoremheaderproof,
  .oj-problem-viewer span.amsthmproofname {
    font-style: italic;
    font-weight: normal;
    margin-right: 1em; }
  .oj-problem-viewer span.theoremheadersc {
    font-style: normal;
    font-variant: small-caps;
    font-weight: normal;
    margin-right: 1em; }
  .oj-problem-viewer .theoremendmark {
    float: right; }
  .oj-problem-viewer div.amsthmbodyplain, .oj-problem-viewer div.theorembodyplain, .oj-problem-viewer div.theorembodynonumberplain,
  .oj-problem-viewer div.theorembodybreak, .oj-problem-viewer div.theorembodynonumberbreak,
  .oj-problem-viewer div.theorembodymarginbreak,
  .oj-problem-viewer div.theorembodychangebreak,
  .oj-problem-viewer div.theorembodychange,
  .oj-problem-viewer div.theorembodymargin {
    font-style: italic;
    margin-top: 3ex;
    margin-bottom: 3ex; }
  .oj-problem-viewer div.theorembodydefinition, .oj-problem-viewer div.theorembodyremark, .oj-problem-viewer div.theorembodyproof,
  .oj-problem-viewer div.theorembodyplainupright, .oj-problem-viewer nonumberplainuprightsc,
  .oj-problem-viewer div.amsthmbodydefinition, .oj-problem-viewer div.amsthmbodyremark,
  .oj-problem-viewer div.amsthmproof {
    font-style: normal;
    margin-top: 3ex;
    margin-bottom: 3ex; }
  .oj-problem-viewer div.backnaur {
    display: block;
    margin: 2ex 2em 2ex 2em; }
  .oj-problem-viewer div.backnaur p {
    margin: .25ex 0ex .25ex 0ex; }
  .oj-problem-viewer div.backnaurprod {
    display: inline-block;
    min-width: 8em;
    text-align: right; }
  .oj-problem-viewer div.backnaurdesc {
    display: inline-block; }
  .oj-problem-viewer div.notesimportantnote, .oj-problem-viewer div.noteswarningnote, .oj-problem-viewer div.notesinformationnote {
    clear: both;
    margin: 2ex 2em 2ex 2em;
    border: 1px solid silver; }
  .oj-problem-viewer div.notesicon {
    float: left;
    display: inline-block;
    background: gold;
    padding: 0ex 1em 0ex 1em;
    margin-right: 1em;
    font-weight: bold; }
  .oj-problem-viewer div.notescontents {
    font-style: italic; }
  .oj-problem-viewer .latexlogofont {
    font-family: "Linux Libertine O", "Nimbus Roman No 9 L", "FreeSerif", "Hoefler Text", Times, "Times New Roman", serif;
    font-variant: normal; }
  .oj-problem-viewer .latexlogo {
    font-family: "Linux Libertine O", "Nimbus Roman No 9 L", "FreeSerif", "Hoefler Text", Times, "Times New Roman", serif;
    font-size: 1.1em; }
  .oj-problem-viewer .latexlogosup {
    text-transform: uppercase;
    letter-spacing: .03em;
    font-size: 0.7em;
    vertical-align: 0.25em;
    margin-left: -0.4em;
    margin-right: -0.15em; }
  .oj-problem-viewer .latexlogosub {
    text-transform: uppercase;
    vertical-align: -0.27ex;
    margin-left: -0.08em;
    margin-right: -0.07em;
    font-size: 1em; }
  .oj-problem-viewer .latexlogotwoe {
    text-transform: none;
    font-variant-numeric: oldstyle-nums; }
  .oj-problem-viewer .latexlogotwoesub {
    font-style: italic;
    vertical-align: -0.27ex;
    margin-left: -0.11em;
    margin-right: -0.1em;
    font-size: 1em; }
  .oj-problem-viewer .xelatexlogo {
    font-family: "Linux Libertine O", "Nimbus Roman No 9 L", "FreeSerif", "Hoefler Text", Times, "Times New Roman", serif;
    letter-spacing: .03em;
    font-size: 1.1em; }
  .oj-problem-viewer .xelatexlogosub {
    vertical-align: -0.27ex;
    margin-left: -0.0667em;
    margin-right: -.05em;
    font-size: 1em;
    letter-spacing: .03em; }
  .oj-problem-viewer .amslogo {
    font-family: "TeXGyreChorus","URW Chancery L", "Apple Chancery","ITC Zapf Chancery","Monotype Corsiva", "Linux Libertine O", "Nimbus Roman No 9 L",  "FreeSerif", "Hoefler Text", Times, "Times New Roman", serif;
    font-style: italic; }
  .oj-problem-viewer .lyxlogo {
    font-family: "URW Classico", Optima, "Linux Biolinum O", "DejaVu Sans", "Bitstream Vera Sans", Geneva, Verdana, sans-serif; }
  .oj-problem-viewer nav.topnavigation {
    display: none; }
  .oj-problem-viewer nav.botnavigation {
    display: none; }
  .oj-problem-viewer span.sidetocthetitle {
    display: none; }
  @media screen and (max-width: 50em) {
    .oj-problem-viewer div.sidetoccontainer {
      float: none;
      width: 100%;
      padding: 0;
      border-radius: 0;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      box-shadow: none; }
    .oj-problem-viewer span.sidetocthetitle {
      display: inline; }
    .oj-problem-viewer nav.botnavigation {
      display: block; }
    .oj-problem-viewer div.bodycontainer {
      width: 100%; }
    .oj-problem-viewer .marginpar {
      max-width: 100%;
      float: none;
      display: block;
      margin: 1ex 1em 1ex 1em; } }
  @media print {
    .oj-problem-viewer {
      font-family: "Linux Libertine O", "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", "Nimbus Roman No 9 L", "FreeSerif", "Hoefler Text", Times, "Times New Roman", serif; }
      .oj-problem-viewer div.sidetoccontainer {
        display: none; }
      .oj-problem-viewer nav.topnavigation {
        display: none; }
      .oj-problem-viewer nav.botnavigation {
        display: none; }
      .oj-problem-viewer div.bodycontainer {
        width: 100%; } }
  @media handheld {
    .oj-problem-viewer div.sidetoccontainer {
      display: none; }
    .oj-problem-viewer nav.topnavigation {
      display: block; }
    .oj-problem-viewer nav.botnavigation {
      display: block; }
    .oj-problem-viewer div.bodycontainer {
      width: 100%; } }
  @media projection {
    .oj-problem-viewer div.sidetoccontainer {
      display: none; }
    .oj-problem-viewer nav.topnavigation {
      display: block; }
    .oj-problem-viewer nav.botnavigation {
      display: block; }
    .oj-problem-viewer div.bodycontainer {
      width: 100%; } }
