@font-face {
  font-family:'OJudge Title';
  src:local('Arial');
}

html {
  display: flex;
  justify-content: center;
  height:100%;
}

body {
  font-family:Arial;
  width: 100%;
}

.container {
  padding: 0px !important;
}

.btn > img {
  height:18px;
}

.oj-title {
  font-family:'OJudge Title';
  font-size:72px;
  margin:0px;
  padding-left:15px;
  color:var(--ojcolor);
}

.oj-float-title {
  font-family:'OJudge Title';
  font-size:32px;
  margin:0px;
  padding-left:15px;
  padding-top:10px !important;
  color:white;
  height:50px;
}

.oj-hometitle {
  font-family:'OJudge Title';
  font-size:48px;
  width:100%;
  text-align:center;
  padding-top:50px;
  color: var(--ojcolor);
}

.oj-pagetitle {
  font-family:'OJudge Title';
  font-size: 32px;
  color: var(--ojcolor);
}

.oj-footer-head {
  font-family:'OJudge Title';
  font-size:20px;
  color:white;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.oj-maxwidth {
  width: 100%;
}

.oj-maxheight {
  height: 100%;
}

.oj-stdwidth {
  max-width: 1280px;
}

.oj-header {
  height: 102px;
  margin-bottom: 1px;
}

.oj-footer a {
  color:white;
}

.oj-footer {
  background-color:var(--ojcolor);
  height: 170px;
  margin: 0px !important;
}

.oj-maincontent {
  min-height: calc(100vh - 284px);
  padding: 20px;
}

.oj-boxes {
  height:400px;
  margin-top:40px;
}

.oj-box {
  height:400px;
  width: 300px;
}

.oj-box:hover {
  box-shadow: 0px 0px 16px;
  cursor:pointer;
}

.oj-box1 {
  background-color:blue;
}

.oj-box2 {
  background-color:green;
}

.oj-box3 {
  background-color:yellow;
}

.oj-admin-category-tree,
.oj-admin-problem-table {
  border:0px;
}

.oj-admin-category-tree .Wt-item {
  transition:1s;
}

.oj-admin-problem-table .Wt-tv-contents .Wt-tv-c {
  transition:1s;
}

.oj-admin-category-tree .Wt-item:hover {
  background-color:#e7e7e7;
  border-radius:5px;
  transition:0s;
}

.oj-admin-problem-table .Wt-tv-contents .Wt-tv-c:hover {
  background-color:#e7e7e7;
  border-radius:5px;
  transition:0s;
}

.oj-admin-category-tree-item .icon,
.oj-admin-problem-table-item .icon {
  height:18px;
}

.oj-admin-problem-table .Wt-tv-contents .Wt-tv-c {
  border:0px;
}

.oj-problems-categories,
.oj-problems-categories .Wt-tv-br,
.oj-problems-categories ul .Wt-tv-c,
.oj-problems-problems,
.oj-problems-problems .Wt-tv-contents .Wt-tv-c {
  border:0px;
}

.oj-problems-categories .Wt-header,
.oj-problems-problems .Wt-header {
  display:none;
}

.oj-problems-problems-item {
  border:1px solid #dddddd !important;
  border-radius:10px;
  height:50px !important;
  margin-bottom:2px !important;
  transition:1s;
}

.oj-problems-problems-item:hover {
  background-color: #eee;
  transition:0s;
}

.oj-problems-problems-item .oj-problems-problems-id {
  text-align:right;
  line-height:44px;
  font-size:48px;
  font-weight:bold;
  color:#888;
  letter-spacing:-2px;
}

.oj-problems-problems-item .oj-problems-problems-title {
  line-height:2;
  font-weight:bold;
}

.oj-problems-problems-item .oj-problems-problems-stats {
  line-height:1;
  height:24px;
}

.oj-problems-categories,
.oj-problems-problems {
  height:100%;
}

.oj-actions .disabled {
  visibility:hidden;
}

.flex-column.nav > li.active > a {
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  background:linear-gradient(to right, var(--ojcolor) 0%, var(--ojcolor) 70%, white 100%);
  background-color:var(--ojcolor);
  color:white;
}

.oj-editor-toolbar {
  background-color: #eee;
  padding: 6px 6px 6px 12px;
}

.oj-editor-toolbar .btn {
  background:none !important;
  border:0px !important;
  padding: 6px 6px !important;
  margin: 0px 0px !important;
}

.oj-editor-toolbar .btn > img {
  height:18px;
}

.oj-editor-toolbar .btn.active {
  background-color:#ccc !important;
}

.oj-editor-toolbar .btn-default {
  box-shadow:none !important;
}

.oj-editor-footer {
  background-color: #eee;
  padding: 6px 6px 6px 12px;
}

.oj-editor-cursorinfo {
  width:35px;
  text-align:right;
}

.oj-editor-led {
  margin-top: 1px !important;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #0f0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(0, 255, 0, 0.5) 0 2px 12px;
}

.oj-editor-led.oj-unsaved {
  background-color: #f00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  animation: oj-blinkRed 0.5s infinite;
}

@keyframes oj-blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}

.oj-rating-set {
  cursor:pointer;
}

.oj-rating-set > img {
  background:url('/images/star_off.svg') no-repeat;
  background-size:40px;
  height:40px;
  padding-top:40px;
  box-sizing:border-box;
}

.oj-rating-set > img.active {
  padding-top:0px;
}

.oj-rating-view {
  position:relative;
}

.oj-rating-view-foreground {
  width:0;
  position:absolute;
  top:0px;
  left:0px;
  overflow:hidden;
  display:block !important;
  line-height:normal !important;
}

.oj-rating-view-foreground > img {
  overflow:unset !important;
}

.oj-country-table-item .icon {
  width:18px;
}

@media (min-width: 768px) {
  .oj-navbar {
    border-color: transparent !important;
    background-image: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .oj-floatbar {
    border-color: transparent !important;
    height:50px !important;
    background-image: none !important;
    background-color:var(--ojcolor) !important;
    box-shadow: 0 6px 8px -8px rgba(0, 0, 0, 0.8), 0 16px 20px -20px rgba(0, 0, 0, 0.19) !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    max-width: 1280px;
  }

  .oj-navbar .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 20px !important;
  }

  .oj-floatbar .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 20px !important;
    height: 50px !important;
  }

  .oj-navbar .navbar-nav > li {
    margin-left: 2px !important;
    padding-top:25px !important;
  }

  .oj-floatbar .navbar-nav > li {
    margin-left: 2px !important;
    padding-top:5px !important;
  }

  .oj-floatbar .navbar-left {
    height:50px !important;
    padding-top:5px !important;
  }

  .oj-navbar .navbar-form {
    margin: 0px;
    padding: 0px;
  }

  .oj-floatbar .navbar-form {
    margin: 0px;
    padding: 0px;
  }

  .oj-navbar .navbar-nav > li > a {
    color: var(--ojcolor) !important;
    height: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 15px !important;
    text-shadow: none !important;
  }

  .oj-floatbar .navbar-nav > li > a {
    color: white !important;
    height: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 15px !important;
    text-shadow: none !important;
  }

  .oj-navbar .navbar-nav > li > a:hover,
  .oj-navbar .navbar-nav > li > a:focus {
    color: #23527c !important;
    background-color: #eee !important;
    border-radius: 4px !important;
  }

  .oj-floatbar .navbar-nav > li > a:hover,
  .oj-floatbar .navbar-nav > li > a:focus {
    color: #23527c !important;
    background-color: #eee !important;
    border-radius: 4px !important;
  }

  .oj-navbar .navbar-nav > .active > a,
  .oj-navbar .navbar-nav > .active > a:hover,
  .oj-navbar .navbar-nav > .active > a:focus,
  .oj-navbar .navbar-nav > .open > a,
  .oj-navbar .navbar-nav > .open > a:hover,
  .oj-navbar .navbar-nav > .open > a:focus {
    color: white !important;
    background-color: var(--ojcolor) !important;
    border-radius: 4px !important;
    background-image: none !important;
  }

  .oj-floatbar .navbar-nav > .active > a,
  .oj-floatbar .navbar-nav > .active > a:hover,
  .oj-floatbar .navbar-nav > .active > a:focus,
  .oj-floatbar .navbar-nav > .open > a,
  .oj-floatbar .navbar-nav > .open > a:hover,
  .oj-floatbar .navbar-nav > .open > a:focus {
    color: var(--ojcolor) !important;
    background-color: white  !important;
    border-radius: 4px !important;
    background-image: none !important;
  }
}
