*~
build*/*
CMakeCache.txt
CMakeFiles/*
Makefile
cmake_install.cmake
lib/CMakeFiles/*
lib/Makefile
lib/cmake_install.cmake
version.h
lib/country_names_xml.cpp
lib/form_templates_xml.cpp
lib/messages_xml.cpp
